<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'likes/love_button', micropost: @micropost %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Microposts <span class="badge"><%= @count_microposts %></span><% end %></li>
      <li class="<%= 'active' if current_page?(lovings_user_path(@user)) %>"><%= link_to lovings_user_path(@user) do %>Lovings <span class="badge"><%= @count_lovings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(lovers_user_path(@user)) %>"><%= link_to lovers_user_path(@user) do %>Lovers <span class="badge"><%= @count_lovers %></span><% end %></li>
    </ul>
    <%= render 'users', microposts: @microposts %>
  </div>
</div>